<!DOCTYPE html>
<html>

<head>
    <title>InstaHash</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jquery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- local -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/app.js"></script>
</head>

<body>
        <div class="container-fluid">

                <form method="POST" action="/signup">
                        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
                      <button type="submit" class="btn btn-default" id="singupbtn">Sign Up</button>
                </form>
<br><br><br><br><br>
                <form method="POST" action="/login">
                        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
                      <button type="submit" class="btn btn-default" id="singupbtn">Log In</button>
                </form>
        </div>

            
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700italic' rel='stylesheet' type='text/css'>
    <h1>InstaHash</h1>
    <p>Your one stop search for Instagram!</p>
    <img src="static/css/images/instagram.png" class="img-responsive">

</body>

</html>
