<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jquery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- local -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script src="/static/js/app.js"></script>
</head>

<body>


    <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700italic' rel='stylesheet' type='text/css'>
    <h1>InstaHash</h1>
    <p>Enter a hashtag minus the #</p>
    <div id="top_section">
        <input type="text" name="instagramSearch" id="value">
        <div id="buttons">
            <button id="morepictures" class="button">Find Pictures</button>
            <button id="clearpictures" class="button">Clear Pictures</button>
            <form method="post" action="/logout?_method=DELETE">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div id="container">
        <div id="output">
        </div>
    </div>


</html>
