.jumbotron {
    position: relative;
    background: #000 url("images/Instagram-logo.png") center center;
    width: 50%;
    height: 75%;
    background-size: cover;
    overflow: hidden;
    margin-left: 350px;
    margin-top: 75px;
}
h1 {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  font-size: 75px;
  margin-top: 50px;
}
img {
  margin-left: 500px;
}
p {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
}
#signup-button {
  float: left;
}

div.col-lg-6 {
  margin-left: 330px;
}
form#signup{
  float: left;
}

form#login {
  float: right;
  margin-top: -100px;
}
